<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Launching Soon – Cloud Computing Project</title>
  <meta name="description" content="Cloud Computing Final Project - Launching Soon Page" />

  <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="bg-animation"></div>

  <main class="container">
    <h1>Launching Soon</h1>
    <p class="subtitle">
      Website hosting CS-5573 | EE-5523 | IS-6973<br>
      Intro to Cloud Computing — Final Project
    </p>

    <div class="info-section">
      <h3>Project Repository</h3>
      <a href="https://github.com/Jcavlovic/cloud_computing_final" target="_blank" class="link">
        github.com/Jcavlovic/cloud_computing_final
      </a>

      <h3>Created by</h3>
      <div class="creators">
        <a href="https://www.linkedin.com/in/jordan-cavlovic-507629199/" target="_blank" class="link">
          Jordan Cavlovic
        </a>
        <a href="https://www.linkedin.com/in/matthew-spruiell-a94382132/" target="_blank" class="link">
          Matthew Spruiell
        </a>
      </div>
    </div>
  </main>

</body>
</html>
